<% include header.ejs %>
<div class="container" style="background-color: linen;">
	<div id="pagebody" class="body">
       <div id="mainbody" class="mainbody">

		<% if (article) { %>
			<div class="post"><h3><%= article.title %></h3>
			<span><%= article.author %></span><span style="padding-left:20px"> 创建于<%= article.time %></span>
            <span style="padding-left:20px">浏览<%= article.hits %>)</span>
            <br>
				<%= article.content %>
			</div>
		<% }%>

	       </div>
	       <% include sidebar.ejs %>
        </div>
    </div>
<% include footer.ejs %>
